.curator_env

data/raw/*.xml
data/converted/*.parquet
data/curated/*.parquet

src/__pycache__

notebooks/.ipynb_checkpoints
notebooks/test.ipynb
notebooks/.Rhistory

src/python/__pycache__

config/geoinfo/


